.btn-grid {
    font-size: 1.5rem;
    padding: 0.4rem;
    color: #a7abc3;
  
    .v-icon {
      font-size: 1.3rem;
      padding: 0.5rem;
      color: #93a2dd !important;
      font-size: 1.475rem;
    }
  }